<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/givemeacar2</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping resource="Addresshbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Address"/>
        <mapping resource="Administratorhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Administrator"/>
        <mapping resource="Agencyhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Agency"/>
        <mapping resource="Billhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Bill"/>
        <mapping resource="Brandhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Brand"/>
        <mapping resource="Carhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Car"/>
        <mapping resource="Cityhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.City"/>
        <mapping resource="Clienthbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Client"/>
        <mapping resource="Colorhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Color"/>
        <mapping resource="Countryhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Country"/>
        <mapping resource="CreditCardhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.CreditCard"/>
        <mapping resource="Energyhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Energy"/>
        <mapping resource="EnergyTypehbm.xml"/>
        <mapping class="fr.givemeacar.app.model.EnergyType"/>
        <mapping resource="Geolocationhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Geolocation"/>
        <mapping resource="Managerhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Manager"/>
        <mapping resource="Modelhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Model"/>
        <mapping resource="Renthbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Rent"/>
        <mapping resource="Streethbm.xml"/>
        <mapping class="fr.givemeacar.app.model.Street"/>
        <mapping resource="StreetSuffixhbm.xml"/>
        <mapping class="fr.givemeacar.app.model.StreetSuffix"/>
        <mapping resource="StreetTypehbm.xml"/>
        <mapping class="fr.givemeacar.app.model.StreetType"/>
        <mapping resource="UserStatushbm.xml"/>
        <mapping class="fr.givemeacar.app.model.UserStatus"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>