.show-car{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.show-car *{
    width:100% !important;
}

.show-car label {
    padding:.5rem;
    background-color: rgb(33, 150, 243);
    color:#fff !important;
    text-transform: uppercase;
    font-weight: 600;
}

.show-car a,.show-car a>*{
  text-decoration: underline !important;
      color:#000 !important;

}

.show-car label{
    font-size: 1.5rem !important;
}